#search_filter[data-visible="true"] {
  height: 188px;
  
}

#search_filter[data-visible="false"] {
  height: 15px;
  padding: 0;

}

#search_filter{
  overflow: hidden;
  transition: all .5s ease;
  max-height: 205px;
}