@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

input{
  padding: 0.5rem 1rem;
}

label{
  margin-left: 10px;
}

button{
  width: fit-content;
  padding: 5px 35px;
}